# Azure OpenAI Service
AZURE_OPENAI_ENDPOINT="https://<YOUR_AOAI_NAME>.openai.azure.com/"
AZURE_OPENAI_API_KEY="<YOUR_API_KEY>"
AZURE_OPENAI_API_VERSION="2024-07-01-preview"
AZURE_OPENAI_GPT_MODEL="gpt-4o"
AZURE_OPENAI_STT_MODEL="whisper"
AZURE_OPENAI_TTS_MODEL="tts-hd"
AZURE_OPENAI_EMBEDDING_MODEL="text-embedding-3-large"
AZURE_OPENAI_DALLE_MODEL="dall-e-3"

# Azure Cosmos DB
AZURE_COSMOS_DB_CONNECTION_STRING="AccountEndpoint=https://<YOUR_COSMOSDB_NAME>.documents.azure.com:443/;AccountKey=<ACCOUNT_KEY>;"
AZURE_COSMOS_DB_DATABASE_NAME="workshop"
AZURE_COSMOS_DB_CONTAINER_NAME="chat"

# Azure AI Search
AZURE_AI_SEARCH_ENDPOINT="https://<YOUR_AZURE_SEARCH_NAME>.search.windows.net/"
AZURE_AI_SEARCH_API_KEY="<YOUR_API_KEY>"
AZURE_AI_SEARCH_INDEX_NAME="chat"

# Azure Document Intelligence: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/ai/data-plane/DocumentIntelligence
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT="https://<YOUR_AZURE_DOCUMENT_INTELLIGENCE_NAME>.cognitiveservices.azure.com/"
AZURE_DOCUMENT_INTELLIGENCE_API_VERSION="2024-07-31-preview"
AZURE_DOCUMENT_INTELLIGENCE_API_KEY="<YOUR_API_KEY>"

# Blob Storage
AZURE_BLOB_ACCOUNT_URL="https://<storage-account-name>.blob.core.windows.net"
AZURE_BLOB_SAS_TOKEN="<blob-sas-token>"
AZURE_BLOB_CONTAINER_NAME="audio"

# Azure AI Speech
AZURE_AI_SPEECH_API_ENDPOINT="https://<speech-api-name>.cognitiveservices.azure.com/"
AZURE_AI_SPEECH_API_SUBSCRIPTION_KEY="<speech-api-subscription-key>"
